.stats_wrapper {
    width: 400px;
    margin: 30px auto 0 auto;
}
.stats_text {
padding: 10px 10px 10px 0;
font-size: 24px;
font-weight: bold;
color: rgb(129, 108, 135);

}
.wrapper {
  width: 400px;
  /* padding: 10px; */
  margin: 0 auto 0 auto;
  border-radius: 6px;
  background-color: rgb(166, 142, 172);
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid white;
}
/* .item:not(:last-child) {
  margin-bottom: 10px;
} */
.delete_btn {
    padding: 5px 10px;
  border-color: transparent;
  border-radius: 4px;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
}
.delete_btn:hover,
.delete_btn:focus {
  background-color: rgb(129, 108, 135);
  color: white;
}
.item_text {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
